<div class="">
    <ul class="pagination justify-content-end">
        <li *ngIf="previousItemValid" class="page-item" (click)="firstPage()">
          <a class="page-link">First</a>
        </li>
        <li *ngIf="previousItemValid" class="page-item" (click)="previousPage(nextItem)">
          <a class="page-link"><i class="fa fa-backward" aria-hidden="true"></i></a>
        </li>
        <li class="page-item" *ngFor="let pageNo of pageList" [ngClass]="{'active':seletedPage === pageNo}">
          <a class="page-link" (click)="setCurrentPage(pageNo)">{{pageNo}}</a>
        </li>
        <li *ngIf="nextItemValid" class="page-item" (click)="nextPage(nextItem)">
          <a class="page-link"><i class="fa fa-forward" aria-hidden="true"></i></a>
        </li>
        <li *ngIf="nextItemValid" class="page-item" (click)="lastPage()">
          <a class="page-link">Last</a>
        </li>
      </ul>  
  </div>	