<div class="container-fluid">
  <h1> {{pageTitle}}</h1>
  <hr/>
  <form>
    <div class="d-flex flex-column">
      <div  *ngIf="showAlertMessage" class="d-none d-md-flex alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        1 Employee has been added.
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" [(ngModel)]="model.firstname" id="firstname" placeholder="First Name" class="form-control" aria-describedby="firstnameHelp">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" [(ngModel)]="model.lastname" id="lastname" placeholder="Last Name" class="form-control" aria-describedby="lastnameHelp">
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <datetime name="dob" [(ngModel)]="model.dob" [timepicker]="false" [datepicker]="datepickerOpts" id="dob" aria-describedby="dateOfBirthHelp"></datetime>
      </div>	
      <div class="form-group">
        <label for="username">Username</label>
        <div class="d-flex flex-row">
          <input type="text" name="username" [(ngModel)]="model.username" id="username" placeholder="Username" class="form-control mr-3" disabled="true">
          <button type="button" class="btn btn-md btn-info" (click)="generateUsername()">Generate</button>
        </div>
      </div>	
      <div class="form-group">
        <label for="mobilenumber">Mobile Number</label>
        <input type="text" name="mobilenumber" [(ngModel)]="model.mobilenumber" id="mobilenumber" placeholder="Mobile Number" class="form-control" aria-describedby="mobileNumberHelp">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="model.email" id="email" placeholder="Email Address" class="form-control" aria-describedby="emailHelp">
      </div>
      <div  *ngIf="showAlertMessage" class="d-md-none d-xs-flex alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        1 Employee has been added.
      </div>
      <div class="flex-row">
        <button type="button" class="btn btn-md btn-info" (click)="addEmployee()">Add Employee</button>	
        <button type="button" class="btn btn-md btn-danger" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>
</div>