<div class="container-fluid">
  <h1>Appointments</h1>
  <hr/>
  <div class="d-flex flex-column">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{appointments.length}} Appointments Found.
    </div>
    <div class="form-group d-flex flex-row align-items-center justify-content-end">
      <label for="filterAppointment" class="mr-auto search-label">Search Appointments by </label> 
      <input type="text" name="filterAppointment" [(ngModel)]="searchText" class="form-control search-width"/>
    </div>
    <div *ngIf="appointments.length>0" class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th (click)="sort('id')">SI No. 
              <i class="fa fa-lg" *ngIf="key =='id'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
            </th>
            <th (click)="sort('doa')">Appointment Date 
              <i class="fa fa-lg" *ngIf="key =='doa'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
            </th>
            <th (click)="sort('time')">Time 
              <i class="fa fa-lg" *ngIf="key =='time'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
            </th>
            <th (click)="sort('mobilenumber')">Mobile Number 
              <i class="fa fa-lg" *ngIf="key =='mobilenumber'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
            </th>
            <th (click)="sort('email')">E-Mail 
              <i class="fa fa-lg" *ngIf="key =='email'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
            </th>
            <th></th>	
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let appointment of appointments | searchFilter: searchText | paginate : itemsPage : currentPage | orderBy : key : reverse">
            <td>{{appointment.id}}</td>
            <td>{{appointment.doa}}</td>
            <td>{{appointment.time}}</td>
            <td>{{appointment.mobilenumber}}</td>
            <td>{{appointment.email}}</td>
            <td>
              <a href="">view details</a>
            </td>
          </tr>
       </tbody>
      </table>
      <econth-pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" name="pagination" [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"></econth-pagination>
    </div>
  </div>
</div>
