<div class="container-fluid">
  <h1> Search Inactive Employees</h1>
  <hr/>
  <form>
    <div class="d-flex flex-column">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        1 inactive Employee(s) found.
      </div>
      <div class="form-group d-flex flex-row">
        <input type="text" name="employeename" placeholder="Enter the Employee first or last name" class="form-control mr-3">  
        <button type="button" class="btn btn-md btn-info">Search</button>	
      </div>
      <div>
        <div class="form-group">
          <h3> Search results</h3>
        </div>
        <div class="form-group table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th (click)="sort('id')">SI No. 
                  <i class="fa fa-lg" *ngIf="key =='id'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('firstname')">FirstName 
                  <i class="fa fa-lg" *ngIf="key =='firstname'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('lastname')">LastName 
                  <i class="fa fa-lg" *ngIf="key =='lastname'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('dob')">Date Of Birth 
                  <i class="fa fa-lg" *ngIf="key =='dob'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('mobilenumber')">Mobile Number 
                  <i class="fa fa-lg" *ngIf="key =='mobilenumber'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('email')">E-Mail 
                  <i class="fa fa-lg" *ngIf="key =='email'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th></th>	
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Praveen</td>
                <td>Kumar</td>
                <td>22/10/1990</td>
                <td>9988776655</td>
                <td>pravren@gmail.com</td>
                <td class="d-flex d-xs-column d-md-row justify-content-start">
                  <button type="button" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#activeEmployeeModal"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i> Make as Active</button>
                  <button type="button" class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#deleteEmployeeModal"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Delete Permanently</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <econth-pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" name="pagination" [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"></econth-pagination>      
      </div>
    </div>
    <div class="modal" id="activeEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="activeEmployeeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="activeEmployeeModalLabel">Active Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to make the employee as active?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="makeAsActiveEmployee()" >Make as active</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Permanently</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete the employee permanently?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEmployee()" >Delete Permanently</button>
          </div>
        </div>
      </div>
    </div>
  </form> 
</div>
  
