<div class="container-fluid">
  <h1> Search Customer</h1>
  <hr/>
  <form>
    <div class="d-flex flex-column">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{customers.length}} Customer found.
      </div>
      <div class="form-group d-flex flex-row">
        <input type="text" name="customername" [(ngModel)]="searchText" placeholder="Enter the Customer first name or last name" class="form-control mr-3">  
        <button type="button" class="btn btn-md btn-info" (click)="searchCustomer()">Search</button>	
      </div>
      <div *ngIf="customers.length">
        <div class="form-group">
          <h3> Search results</h3>
        </div>
        <div class="form-group table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th (click)="sort('id')">SI No. 
                  <i class="fa fa-lg" *ngIf="key =='id'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('firstname')">FirstName 
                  <i class="fa fa-lg" *ngIf="key =='firstname'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('lastname')">LastName 
                  <i class="fa fa-lg" *ngIf="key =='lastname'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('dob')">Date Of Birth 
                  <i class="fa fa-lg" *ngIf="key =='dob'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('mobilenumber')">Mobile Number 
                  <i class="fa fa-lg" *ngIf="key =='mobilenumber'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th (click)="sort('email')">E-Mail 
                  <i class="fa fa-lg" *ngIf="key =='email'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></i>
                </th>
                <th></th>	
              </tr>
            </thead>
            <tbody *ngFor="let customer of customers | paginate : itemsPage : currentPage | orderBy : key : reverse">
              <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.firstname}}</td>
                <td>{{customer.lastname}}</td>
                <td>{{customer.dob}}</td>
                <td>{{customer.mobilenumber}}</td>
                <td>{{customer.email}}</td>
                <td class="d-flex d-xs-column d-md-row justify-content-start">
                  <button type="button" class="btn btn-sm btn-primary mr-2" (click)="updateCustomer()"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i> Update</button>
                  <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#softDeleteCustomerModal"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Delete</button>
                </td>
              </tr>
            </tbody>
            <div class="modal" id="softDeleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="softDeleteCustomerModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="softDeleteCustomerModalLabel">Soft Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure want to make the customer as inactive?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="softDeleteCustomer(customer)" >Make as inactive</button>
                  </div>
                </div>
              </div>
            </div>
          </table>
        </div>
      </div>
      <econth-pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" name="pagination" [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"></econth-pagination>
    </div>
  </form> 
</div>
