<div class="container-fluid">
  <h1> Invoices </h1>
  <hr/>
  <form>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <input type="text" placeholder="Appointment No or Invoice No" class="form-control mr-3">
        <button type="button" class="btn btn-md btn-info">Get Invoice</button>	
      </div>
      <div class="form-group mt-3">
        <h3> Search results</h3>
      </div>
      <div class="form-group table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>SI No.</th>
              <th>Invoice No.</th>
              <th>Customer Name</th>
              <th>Appointment No.</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>123456</td>
              <td>Parthiban</td>
              <td>2344567</td>
              <td><a href="">View details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div class="form-group">
          <h3> Detailed report of Parthiban</h3>
        </div>
        <div class="form-group">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th>Appointment No</th>
                <td>123456</td>
              </tr>
              <tr>
                <th>Invoice No</th>
                <td>2344567</td>
              </tr>
              <tr>
                <th>Customer Name</th>
                <td>Parthiban</td>
              </tr>
              <tr>
                <th>Mobile No</th>
                <td>8146969642</td>
              </tr>
              <tr>
                <th>Appointment Date</th>
                <td>11/12/2017</td>
              </tr>
              <tr>
                <th>Appointment Time</th>
                <td>7:00 PM</td>
              </tr>
              <tr>
                <th>Amount</th>
                <td>600</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>Paid</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group d-flex flex-row flex-wrap">
        <button type="button" class="btn btn-md btn-info m-2">Generate PDF</button>
        <button type="button" class="btn btn-md btn-info m-2">Send Email</button>	
        <button type="button" class="btn btn-md btn-info m-2">Send SMS</button>	
      </div>
    </div>
  </form> 
</div>