<div class="sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">
        <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i> Dashboard
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="appointment/book-appointment">
        <i class="fa fa-sticky-note-o fa-lg" aria-hidden="true"></i> Book Appointment
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="appointment/list-appointments">
        <i class="fa fa-sticky-note-o fa-lg" aria-hidden="true"></i> Appointments
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" (click)="toggleCustomerDropdown()" id="customerDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-gift fa-lg" aria-hidden="true"></i> Customers
        <span class="pull-right">
          <i class="fa fa-lg" [ngClass]="{'fa-angle-down':open,'fa-angle-right':!open}" aria-hidden="true"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="customerDropdownMenu">
        <a class="dropdown-item" routerLink="customer/add-customer">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Customer</a>
        <a class="dropdown-item" routerLink="customer/search-customer">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i> Search Customer</a>
        <a class="dropdown-item" routerLink="customer/inactive-customers">
          <i class="fa fa-ban fa-lg" aria-hidden="true"></i> Inactive Customers</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" (click)="toggleEmployeeDropdown()" id="employeeDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-globe fa-lg" aria-hidden="true"></i> Employees
        <span class="pull-right">
          <i class="fa fa-lg" [ngClass]="{'fa-angle-down':open1,'fa-angle-right':!open1}" aria-hidden="true"></i>
        </span> 
      </a>
      <div class="dropdown-menu" aria-labelledby="employeeDropdownMenu">
        <a class="dropdown-item" routerLink="employee/add-employee">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Employee</a>
        <a class="dropdown-item" routerLink="employee/search-employee">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i> Search Employee</a>
        <a class="dropdown-item" routerLink="employee/inactive-employees">
          <i class="fa fa-ban fa-lg" aria-hidden="true"></i> Inactive Employees</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="accounts">
        <i class="fa fa-user fa-lg" aria-hidden="true"></i> Accounts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="invoices">
        <i class="fa fa-history fa-lg" aria-hidden="true"></i> Invoices
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reports">
        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i> Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#" >
        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>Signout
      </a>
    </li>
  </ul>
</div>
