.dropdown-toggle::after{
    content:none;
}

.modal-dialog{
    margin-top: 100px;
}

.dropdown-menu{
    width: 100%;
    position: relative;
    padding-left: 14px;
}

@media screen and (max-width:768px ) { 
    a{
        color: white !important;
    }

    .dropdown-menu a{
        color: black !important;
    }


 };


