nav.sidebar{
    margin-top: 57px;
    width: 256px;
}
main{
    margin-top: 57px;
    width: 100%
}

.panel-group .panel {
    margin-bottom: 20px;
    width: 326px;
   
 }

 .panel-group .panel-default{
     width: 100%;
 }


.panel-green{
    border: 1px solid #5cb85c;
    border-radius: 3px;
}
.panel-green > .panel-heading {
    color: white;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
    text-decoration: none;
}

.panel-yellow{
    border: 1px solid #f0ad4e;
    border-radius: 3px;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
    text-decoration: none;
}

.panel-red{
	border: 1px solid #d9534f;
    border-radius: 3px;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
    text-decoration: none;
}

.panel-purple{
	border: 1px solid #673AB7;
    border-radius: 3px;
}
.panel-purple > .panel-heading {
    color: white;
    background-color: #673AB7;
}
.panel-purple > a {
    color: #673AB7;
}
.panel-purple > a:hover {
    color: #9575CD;
    text-decoration: none;
}

.huge {
    font-size: 40px;
}

.panel-body {
    border: 1px solid #636161;
    border-radius: 3px;
}


